<!DOCTYPE html>
<html>
    <head>
        <title>CV</title>
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/angular-datepicker.css">
        <script src="node_modules/angular/angular.js"></script>
        <script src="node_modules/angularjs-datepicker/src/js/angular-datepicker.js"></script>
        <script src="node_modules/ng-file-upload/dist/ng-file-upload-shim.min.js"></script>
        <script src="node_modules/ng-file-upload/dist/ng-file-upload.min.js"></script>
        <script src="testapp.js"></script>
    </head>
    <body>
        <div class="container" ng-app="testApp" ng-controller="cvController">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="page-header"><h1>Review Candidate</h1></div>
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Country</th>
                            <th>Submit Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{candidate.firstName}}</td>
                            <td>{{candidate.lastName}}</td>
                            <td>{{candidate.country}}</td>
                            <td>{{candidate.submitDate}}</td>
                        </tr>
                    </tbody>
                </table>
                <a ng-href="/api/v1/files/{{candidate.id}}" download="{{candidate.cvName}}">{{candidate.cvName}}</a>
            </div>
        </div>
    </body>
</html>