<!DOCTYPE html>
<html>
    <head>
        <title>NewPush Test</title>
        <link rel="stylesheet" href="assets/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="assets/css/angular-datepicker.css"/>
        <script src="node_modules/angular/angular.js"></script>
        <script src="node_modules/angularjs-datepicker/src/js/angular-datepicker.js"></script>
        <script src="node_modules/ng-file-upload/dist/ng-file-upload-shim.min.js"></script>
        <script src="node_modules/ng-file-upload/dist/ng-file-upload.min.js"></script>
        <script src="testapp.js"></script>
    </head>
    <body>
        <div class="container" ng-app="testApp" ng-controller="postController">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="page-header"><h1>Add a Candidate</h1></div>
                <form name="candidateForm" ng-submit="uploadFile(file)">
                    <div class="form-group">
                        <label>First Name</label>
                        <input ng-required="true" type="text" name="firstName" class="form-control"
                               ng-model="candidate.firstName">
                    </div>
                    <div class="form-group">
                        <label>Last Name</label>
                        <input ng-required="true" type="text" name="lastName" class="form-control"
                               ng-model="candidate.lastName">
                    </div>
                    <div class="form-group">
                        <div>
                            <label>Country</label>
                        </div>
                        <select ng-required="true" ng-model="candidate.country">
                            <option ng-repeat="country in countries" value="{{country.name}}">{{country.name}}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Submit Date</label>
                        <datepicker date-format="MM/dd/yyyy" date-set="{{todayDate.toString()}}" class="date-picker">
                            <input ng-required="true" name="submitDate" class="form-control"
                                   ng-model="candidate.submitDate" placeholder="Choose Submit Date" type="text"/>
                        </datepicker>
                    </div>
                    <div class="form-group">
                        <div>
                            <label>CV</label>
                        </div>
                        <input ng-required="true" type="file" ngf-select ng-model="file" name="file"
                               ngf-pattern="'.docx,.doc,.pdf'" accept=".docx,.doc,.pdf">
                    </div>
                    <button type="submit" class="btn btn-primary" ng-click="uploadFile(file)">Submit</button>
                </form>
            </div>
        </div>
    </body>
</html>